*{
  text-size-adjust: none;
  font-size: 14px;
  font-family: "Arial";
  line-height: 22px;
}
html{
margin-left: 5%;
margin-right: 5%;
box-sizing: border-box;
background-color: white;
}
a{
  color: inherit;
  text-decoration:none;
}
h1 {
  font-size: 1rem;
}
p {
  color:inherit;
}

header      				{ grid-area: header; }
main						{ grid-area: main; }
div[role="complementary"]   { grid-area: sidebar; }
footer 		 				{ grid-area: footer; }
	
body {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
  "header"
  "sidebar"
  "main"
  "footer";
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
  gap: 25px;
  margin:0;
}

header{
  display: grid; 
  grid-template-columns:13% 28% 50%;
  height: 130px;
  width: 100%;
  margin-top:30px;
  justify-content: space-between;  
  
  border-bottom: 1px solid grey;
}
.header__logo{
  height: 110px;
  margin-bottom: 2%;
  
  background-color: grey;
}
.header__navbar{
  max-width: 520px;
  height: 110px;
  margin-bottom: 2%;
  background-color: grey;
}
.header__contact{
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: flex-end;
  height: 110px;
  padding: 0 25px 0 0;
  
  background-color: grey;
}
.header__contact > p{
  margin: 0 0 0 0;
  
  color: white;
}
#mailto,#site{
  text-decoration:underline;
}

.sidebar__content{	
  padding: 30px 10px 40px 20px;
  
  background-color: grey;
  color: white;
}

.main__text{
  padding: 20px 0 20px 20px;
  
  background-color: #dcdcdc;
}
.subgrid {
  display:grid;
  grid-template-columns: minmax(0, 1fr);
  padding-top: 20px;
  grid-gap: 20px;
}
.subgrid__panel {
  padding: 20px 20px 20px 20px;  
  
  background-color: #dcdcdc;
}
.blocks-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap:20px;
  margin-top:20px;
  max-width: 900px;
}
.blocks-grid__empty-block{
  height: 100px;
  
  background-color: #dcdcdc;
}

footer {	
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  grid-row-gap:20px;  
  width: 100%;  
  padding-top:20px;
  margin-bottom:20px;  
  
  border-top: 1px solid grey;
}
.footer__box1{
  display: flex;
  height:inherit;
  padding-left: 30px;
  grid-row-start:1;
  grid-row-end: 3;
  padding:20px 15px 20px 15px;  
  
  background-color: gray;
}
.footer__box1 > ul{	
  display: inline-block;
  padding-inline-start: 0;
  columns: 2;  
  width: 100%;
  margin: 0;
  
  color:white;
  
  list-style: none;
}
.footer__box2{	
  grid-row-start:1;
  grid-row-end: 3;
  height: inherit;
  padding-left: 30px;
  
  background-color: gray;
}
.footer__box2 >ul{
 padding-inline-start: 0;
 list-style: square outside;
 
 color:white;
}
.footer__box{
  background-color: gray;
}

@media all and (min-width: 576px) {
.subgrid {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
}
@media all and (min-width: 992px) {
body {
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';
  grid-template-columns: minmax(0, max-content) minmax(0, 1fr) minmax(0, 1fr);
}
.sidebar{
  max-width: 200px;
}
}
